header {
  background-color: #0005;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.menu > ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.menu a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  transition: color 0.6s;
}

.dropdown-menu > li > a:hover {
  color: #f00;
}

.dropdown-menu > li:hover .dropdown-submenu {
  display: flex;
}

.dropdown-submenu {
  position: absolute;
  display: none;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  list-style: none;
  background-color: #000a;
  width: 100px;
  height: 120px;
}

.dropdown-submenu li {
  padding-left: 10px;
}

.dropdown-submenu li:hover {
  background-color: #e50914;
}
