body {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-size: cover;
  background-position: right top;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

main h1 {
  font-size: 60px;
  width: 150px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  display: flex;
  justify-content: start;
}

main h2 {
  font-family: "Open Sans", sans-serif;
  display: flex;
  color: #fff;
  justify-content: center;
}

main img {
  width: 40vw;
  height: 60vh;
  display: flex;
  justify-content: center;
}

main p {
  font-family: "Open Sans", sans-serif;
  display: flex;
  color: #ff0000;
  justify-content: center;
}
